# node_modules directory
node_modules/
**/node_modules

# Ignore Logs
logs
*.log

# IDE specific files
.idea/
.vscode/
**/.vscode
*.sw*

# the file containing environment variables
.env

# build directory
dist/
**/dist
build
**/build

# assets directory
assets/
**/assets

# public directory
public/
**/public

# design directory
design/
**/design



