.card-list {
  grid-area: card-list;

  justify-content: center;
  display: grid;
  grid-gap: 0.25em;
  padding: 1em 0;

  @include mq('tablet') {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    grid-gap: 0.5em;
  }
}

.card {
  padding: 0.175em 0;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  color: $color-purple;
  background-color: $color-purple;
  border: 1px solid $color-accent-green;
  cursor: pointer;

  &.is-opened {
    color: $color-accent-yellow;
  }

  &.stay-opened {
    color: $color-accent-yellow;
  }
}
