$color-font: #320571;

$color-bg: #976bd6;

$color-light-purple: #8144d6;

$color-bg-light-purple: #b193da;

$color-purple: #510fad;

$color-accent-green: #7ce700;

$color-accent-yellow: #ff9700;

$color-blue: #0c5aa6;

$color-select: $color-purple;

$color-focus: $color-accent-green;
