.popup {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);

  width: 70%;
  max-width: 800px;

  display: flex;
  flex-direction: column;

  padding: 1em;
  background-color: $color-purple;
  border: 2px solid $color-accent-green;
  z-index: 3;

  &__message {
    text-align: center;
    color: $color-accent-yellow;
  }

  &__btn-close {
    margin: 0.5em auto;
    padding: 0.5em 1em;
  }
}
